@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Shizuru&display=swap');

body{
  font-family: 'Overpass', sans-serif;
  margin: 0;
}

header{
  background-color: skyblue;
  padding: 20px;
  text-align: center;
}

h1{
  font-family: 'Shizuru', cursive;
}

h2{
  text-align: center;
  font-weight: 100;
}

button{
  background-color: skyblue;
  border: none;
  border-radius: 2px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover{
  opacity: 70%;
}

#or{
  text-align: center;
}

/* Table */
table, tr, tbody {
  border: 1px solid;
}

td{
  width: 100%;
}

#employee-table{
  width: 95%;
  padding: 8px;
  margin: 0 auto 100px auto;
}

#employee-table tr:nth-child(even){
  background-color: skyblue;
}

#no-employees{
  text-align: center;
}

/* Inputs */
#employee-name-input{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 3%;
}

#search-term{
  display: flex;
  justify-content: initial;
  margin: 3%;
  flex-direction: column;
  text-align: center;
}


/* Footer */
footer{
  text-align: center;
  background-color: skyblue;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  font-weight: bold;
  padding: 20px;
}
footer img{
  width: 15px;
}


/* Media Query */
@media (min-width:801px)  {
  header{
    background-color: skyblue;
    padding: 20px;
    font-size: 40px;
  }

  #employee-name-input{
    flex-direction: row;
  }

  #search-term{
    flex-direction: row;
    align-items: initial;
  }
  #or{
    display: none;
  }
  
  footer{
    font-size: 20px;
  }
}
